<!doctype html>
<html lang="en">
  <head></head>
    <meta charset="utf-8">
    <title>FitBud || Profile</title>
    <link rel="icon" href="/assets/fitbudLogoIcon.svg">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/e2d78460e9.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main class="profilePage">
      <img id="fitbudLogo" src="assets/fitbudLogo.svg">
      
      <div class="profileWrap">
        
        <h1>Profile</h1>
        <form class="logoutBtn" method="post" action="/logout">
          <button type="submit" class="btn btn-success">
              <i class="fas fa-sign-out-alt"></i><span>Logout </span>
          </button>       
        </form>
        <div class="profileHead" id="zoekBalk">
          <div>
            <img src="<%= ingelogd[0].profilePic %>" alt="">
            	<div>
              <h3><%= ingelogd[0].firstname + " " + ingelogd[0].lastname %></h3>
              <p><%= ingelogd[0].gymname + ", " + ingelogd[0].gymplace %></p>
            </div>
          </div>
          <p><%= ingelogd[0].bio %></p>
          <div>
            <p><%= ingelogd[0].age %> years old</p>
            <p><%= ingelogd[0].gymerv %> years experience</p>
          </div>
        </div>
        <div class="nameWrap">

          <form method="post" autocomplete="off" action="/profile">
              <h3>Biography</h3>
                <!--<label for="profilePic">Profile picture</label>
                <input id="profilePic" type="file" name="profilePic" accept="image/png, image/jpeg">-->
              <div class="bioWrap">
                  <!--<label for="bio">Biography</label>-->
                <textarea name="bio" id="bio" placeholder="Describe when and what you do in the gym..." rows="5"><%= ingelogd[0].bio %></textarea>
              </div>
                
              <h3>Personal Info</h3>
              <label for="firstname">Firstname</label>
              <input id="firstname" type="text" name="firstname" placeholder="John" value="<%= ingelogd[0].firstname %>" required>
              <label for="lastname">Lastname</label>
              <input id="lastname" type="text" name="lastname" placeholder="Joe" value="<%= ingelogd[0].lastname %>" required>
              <label for="age">Age</label>
              <input id="age" type="number" name="age" placeholder="18" value="<%= ingelogd[0].age %>" required>

              <h3>Gym Info</h3>
              <label for="gymname">Gym name</label>
              <input id="gymname" type="text" name="gymname" placeholder="Fit4Free" value="<%= ingelogd[0].gymname %>" required>
              <label for="gymplace">Gym place</label>
              <input id="gymplace" type="text" name="gymplace" placeholder="Amsterdam" value="<%= ingelogd[0].gymplace %>" required>
              <label for="gymerv">Gym expertise</label>
              <input id="gymerv" type="number" name="gymerv" placeholder="In years" value="<%= ingelogd[0].gymerv %>" required>
              <input type="submit" value="Save changes" >
          </form>
        </div>
      </div>
    </main>
    <%- include('components/footer.ejs', {ingelogd: ingelogd}); %>
  </body>
  <script src="/js/dashboard.js"></script>
</html>